button {
    padding: 10px 20px;
    border: 0;
    border-radius: 22px;
    background: #0055ff;
    box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.25), 2px 2px 4px #063ba6;
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

button:hover {
    cursor: pointer;
}
